<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
  <head>
    <title>Projeto</title>
    <meta charset="UTF-8" />
    <!-- CDN do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <!-- CDN do Vue.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <!-- CDN do Axios -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<style>
        body {
            background-color: #343a40; /* Cor de fundo escura */
        }
        h1, h2 {
            color: #f8f9fa; /* Cor de texto clara */
        }
        .form-control {
            background-color: #495057; /* Cor de fundo dos inputs */
            color: #f8f9fa; /* Cor do texto dos inputs */
        }
        .form-control::placeholder {
            color: #ced4da; /* Cor do texto placeholder */
        }
        .list-group-item {
            background-color: #495057; /* Cor de fundo dos itens da lista */
            color: #f8f9fa; /* Cor do texto dos itens da lista */
        }
    </style>
  </head>
  <body>
	<div class="container" id="app">
	  <header class="text-center mt-4">
		<img class="img-fluid" src="https://th.bing.com/th/id/OIP.Ug4wVBUhQgfpzEHind4WOAHaEK?w=332&h=186&c=7&r=0&o=5&pid=1.7" alt="Games" />
	  </header>
	  <main>
		<div class="row justify-content-center">
		  <div class="col-md-5">
			<h1>Cadastro de Jogos Digitais</h1>
			<input class="form-control mt-3" type="text" 
			  placeholder="Título" v-model="titulo" />
			<input class="form-control mt-3" type="text" 
			  placeholder="Genero" v-model="genero" />
			<input class="form-control mt-3" type="text" 
			  placeholder="Estúdio" v-model="estudio" />
			<input class="form-control mt-3" type="text" 
			  placeholder="Plataforma" v-model="plataforma" />
			<input class="form-control mt-3" type="number" 
			  placeholder="Ano" v-model="ano" />
			<input class="form-control mt-3" type="number"
			  placeholder="Valor" v-model="valor"/>
			<div v-if="verificarCampos()">
			  <button class="btn btn-primary mt-3" @click="salvar()">Salvar</button>
		    </div>
			<div v-else>
			  <button class="btn btn-secondary mt-3" disabled>Salvar</button>
			</div>
			<button class="btn btn-info mt-3" @click="carregarHora()">Hora</button>
			<p>{{ hora }}</p>
		  </div>
		  <div class="col-md-8">
		    <table class="table table-striped">
			  <thead>
			    <tr>
				  <th>Título</th>
				  <th>Genero</th>
				  <th>Estudio</th>
				  <th>Plataforma</th>
				  <th>Ano</th>
				  <th>Valor</th>
				  <th>Alterar</th>
				  <th>Excluir</th>
				</tr>
			  </thead>
			  <tbody>
			    <tr v-for="(novoJogo, index) in listaJogos">
				  <td>{{ novoJogo.titulo }}</td>
				  <td>{{ novoJogo.genero }}</td>
				  <td>{{ novoJogo.estudio }}</td>
				  <td>{{ novoJogo.plataforma }}</td>
				  <td>{{ novoJogo.ano }}</td>
				  <td>{{ novoJogo.valor | reais}}</td>
				  <td><button class="btn btn-warning" @click="alterar(index)">Alterar</button></td>
				  <td><button class="btn btn-danger" @click="excluir(index)">Excluir</button></td>
				</tr>
			  </tbody>
			</table>
			<p>Quantidade de Jogos: {{ quantidade }}</p>
		  </div>
		</div>
	  </main>
	  <footer>
		<p></p>
	  </footer>
	</div>
	<script type="text/javascript">
	  class Jogo {
		constructor(titulo,genero,estudio,plataforma,ano,valor) {
		  this.titulo = titulo;
		  this.genero = genero;
		  this.estudio = estudio;
		  this.plataforma = plataforma;
		  this.ano = ano;
		  this.valor = valor;
		}
	  }
	  
	  var app = new Vue({
		el: '#app',
		data: {
		  titulo: '',
		  genero: '',
		  estudio: '',
		  plataforma: '',
		  ano: '',
		  valor: '',
		  listaJogos: [],
		  hora: '00:00:00',
		  pos: -1
		},
		methods: {
		  verificarCampos: function() {
			return (this.titulo != '' && this.genero != '' && this.estudio != '' && 
			  this.plataforma != '' && this.ano != '' &&
			  this.valor != '');
		  },
		  salvar: function() {
		    let novoJogo = new Jogo(this.titulo, this.genero, this.estudio, 
			  this.plataforma, this.ano, this.valor);
			if (this.pos == -1) {
				this.listaJogos.push(novoJogo);
			} else {
				Vue.set(this.listaJogos, this.pos, novoJogo);
				this.pos = -1;
			}
			this.titulo = '';
			this.genero = '';
			this.estudio = '';
			this.plataforma = '';
			this.ano = '';
			this.valor = '';
		  },
		  alterar: function(posicao) {
			this.titulo = this.listaJogos[posicao].titulo;		  
			this.genero = this.listaJogos[posicao].genero;
			this.estudio = this.listaJogos[posicao].estudio;
			this.plataforma = this.listaJogos[posicao].plataforma;
			this.ano = this.listaJogos[posicao].ano;
			this.valor = this.listaJogos[posicao].valor;
			this.pos = posicao;
		  },
		  excluir: function(posicao) {
			if (confirm('Deseja excluir?')) {
				this.listaJogos.splice(posicao, 1);
			}
		  },
		  carregarHora: function() {
		    axios.get('http://date.jsontest.com/')
			  .then(res => (this.hora = res.data.time));
		  }
		},
		created: function() {
			this.carregarHora();
		},
		updated: function() {
			//alert('ok');
		},
		computed: {
			quantidade: function() {
				return this.listaJogos.length;
			}
		},
		filters: {
			reais: function(valor){
				valor = parseFloat(valor);
				return 'R$ '+ valor.toFixed(2).replace('.',',');
			}
		}
	  });
	  
	</script>
  </body>
</html>